html {
    font-size: 62.5%;
}

body {
    color: #ECF0F1;
    font-family: arial;
    font-size: 1.6rem;
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    background: url(../img/cloudy.jpg) no-repeat center center /cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #999;
    border-top: 1px solid #eeeeee;
    margin-top: 1.6rem;
    padding: 1.6rem 0;
}

header {
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
}

h1 {
    font-size: 6.4rem;
    margin-bottom: 1.6rem;
}

a,
a:active,
a:visited{
    color:#C0392B;
    text-decoration: none;

}
header a {
    color: #bdc3c7 !important;
    margin-right: 1.6rem;    
}
.portrait {
    width: 25rem;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #096660 ;
    background: #096660 ;
    color: white;
    padding: 8px;
}